.card {
    width: 686px;
    height: 248px;
    background: linear-gradient(-45deg, #3b3b47, #444351);
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin-bottom: 28px;
  }
  
.block {
    height: 120px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.inline-block {
    display: flex;
    align-items: center;
  }

.link {
    color: white;
    text-decoration: none;
  }

.random {
    padding-right: 39px;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

.svg {
    width: 56px;
    height: 56px;;
    padding: 0px 27px 0px 39px;
  }

.profit-loss {
    padding-right: 39px;
    display: flex;
    margin-top: -22px;
    flex-direction: column;
    text-align: right;
    color: #0fdb86;
  }

.currency-name{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 0px;
  }
  
.currency-price {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 18px 0px 32px 39px; 
  }

.label-link {
    color: #96969e;
    font-size: 20px;
  }

hr {
    background-color: #484854;
    border: 1px solid  #484854;
    width: 609px;
  }
    