.App {
  text-align: center;
  width: 754px;
  height: 1628px;
  margin: auto;
  background: linear-gradient(-45deg, #1f1f2b, #434552);
  color: white;
  padding-top: 58px;
}

/* .icons {
  display: flex;
  justify-content: space-between;
  width: 616px;
  margin: auto;
  margin-bottom: 40px;
  cursor: pointer;
} */

/* .toal-balance-sign {
  font-size: 34px;
  padding-top: 14px;
  padding-right: 10px;
} */

/* .card {
  width: 686px;
  height: 248px;
  background: linear-gradient(-45deg, #3b3b47, #444351);
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin-bottom: 28px;
}

.block {
  height: 120px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
} */

.currency-group-inline {
  display: flex;
  margin-left: 53px;
  width: 682px;
  overflow-x: auto;
}

.currency-group-inline::-webkit-scrollbar {
  display: none;
} 

.block-inline {
  height: 95px;
  width: 375px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #494b56;
  border-radius: 8px;
  margin-left: 15px;
}

.block-inline-selected {
  height: 95px;
  width: 375px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #494b56;
  border: 2px solid #494b56;
  border-radius: 8px;
  margin-left: 15px;
}

.svg-inline {
  padding: 20px;
}

.currency-name-inline {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
}

.random-inline {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* .inline-block {
  display: flex;
}

.random {
  padding: 38px 39px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: right;
} */

/* .profit-loss {
  padding: 20px 39px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #0fdb86;
} */

.link {
  color: white;
  text-decoration: none;
}

hr {
  background-color: #484854;
  border: 1px solid  #484854;
  width: 609px;
}

/* .svg {
  margin-top: 20px;
  padding: 19px 27px 0px 39px
} */

/* .currency-name{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 38px;
}

.currency-price {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 18px 0px 32px 39px; 
} */

/* .label-total-balance {
  color: #96969e;
  font-size: 28px;
} */

/* .label-link {
  color: #96969e;
  font-size: 20px;
} */
/* 
.toal-balance {
  font-size: 63px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
}

.changes {
  font-size: 28px;
  color: #0fdb86;
  margin-bottom: 49px;
  margin-top: 10px;
} */

.currency-page {
  text-align: center;
  width: 754px;
  height: 1628px;
  margin: auto;
  background-color: #363845;
  color: white;
  padding-top: 58px;
}

.block-selected {
  display: flex;
  width: 626px;
  justify-content: space-between;
  margin: auto;
  font-size: 40px;
  margin-top: 30px;
}

.svg-selected {
  padding: 26px;
  height: 66px;
  width: 66px;
}

.currency-name-selected {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
}

.label-link-profit-loss {
  color: #0fdb86;
  font-size: 20px;
}

.show-charts {
  display: flex;
  margin-left: 63px;
  margin-bottom: 38px;
}

.show-chart {
  cursor: pointer;
  height: 40px;
  width: 123px;
  font-size: 24px;
  text-align: center;
  color: #888890;
  padding-top: 4px;
}

.shown-chart {
  cursor: pointer;
  height: 40px;
  width: 123px;
  font-size: 24px;
  text-align: center;
  padding-top: 4px;
  background-color: #444450;
  border-radius: 8px;
}

.chart {
  height: 958px;
  margin-top: 68px;
}